[submodule "bash/z"]
	path = bash/z
	url = https://github.com/rupa/z
[submodule "bash/fz"]
	path = bash/fz
	url = https://github.com/changyuheng/fz
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "kak/autoload/fzf"]
	path = kak/autoload/fzf
	url = https://github.com/andreyorst/fzf.kak
[submodule "kak/autoload/kakboard"]
	path = kak/autoload/kakboard
	url = https://github.com/lePerdu/kakboard
[submodule "kak/tree-sitter-themes"]
	path = kak/tree-sitter-themes
	url = https://git.sr.ht/~hadronized/kakoune-tree-sitter-themes
