[submodule "bash/z"]
	path = bash/z
	url = https://github.com/rupa/z
[submodule "bash/fz"]
	path = bash/fz
	url = https://github.com/changyuheng/fz
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "kak/kakoune"]
	path = kak/kakoune
	url = https://github.com/mawww/kakoune
[submodule "kak/autoload/cscope"]
	path = kak/autoload/cscope
	url = https://github.com/dryvenn/kakoune-cscope
[submodule "kak/autoload/cheat"]
	path = kak/autoload/cheat
	url = https://github.com/dryvenn/kakoune-cheat
[submodule "kak/autoload/edit-or-dir"]
	path = kak/autoload/edit-or-dir
	url = https://github.com/TeddyDD/kakoune-edit-or-dir
[submodule "kak/autoload/fzf"]
	path = kak/autoload/fzf
	url = https://github.com/andreyorst/fzf.kak
[submodule "kak/autoload/kakboard"]
	path = kak/autoload/kakboard
	url = https://github.com/lePerdu/kakboard
