[submodule "bash/z"]
	path = bash/z
	url = https://github.com/rupa/z
[submodule "bash/fz"]
	path = bash/fz
	url = https://github.com/changyuheng/fz
[submodule "kak/extra"]
	path = kak/extra
	url = https://github.com/lenormf/kakoune-extra
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
